.custom-card {
  max-width: 100%;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title-container {
  margin-left: 25px;
}

.status {
  margin-left: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the start (top) */
  align-items: stretch; /* Stretch items horizontally */
  height: 100%; /* Ensure the card content takes up full height */
}

.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure row container takes full width */
}

.history-bar-container {
  flex: 1; /* Allow history bar to grow and fill remaining space */
  margin-right: 10px; /* Add spacing between history bar and button */
}

.details-button {
  /* Optional: Add specific styles for the button */
}
