<mat-card class="custom-card">
  <mat-card-header class="mat-card-header">
    <div class="left-content">
      <div mat-card-avatar class="example-header-image">
        <img src="path_to_your_logo_image" alt="Website Logo">
      </div>
      <div class="logo-title-container">
        <mat-card-title>{{ headerContent }}</mat-card-title>
      </div>
    </div>
    <div class="status">
      <mat-card-subtitle>{{ cardContent }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-history-bar [statusString]="'ouodoudoooooooooooooooooooooooooooooooooooooooooooooooooo'"></app-history-bar>
  </mat-card-content>
</mat-card>
