.history-bar-container {
  display: flex;
  max-height: 12vh;
  align-items: baseline;
  flex-direction: column;
}

.history-bar {
  display: flex;
  width: 100%;
  max-height: 12vh;
  align-items: baseline;
  flex-direction: row;
  overflow-x: auto;
}

.status-column {
  display: flex;
  flex-direction: row;
  width: 7px;
  height: 30px;
  margin-right: 0.1vw;
  border-radius: 50px;
  max-width: 7px;
  min-width: 2px;
}

.g {
  background-color: #03dfa2;
  width: 7px;
}

.y {
  background-color: #ffb84d;
  height: 2.25vh;
  width: 7px;
}

.r {
  background-color: #ff0060;
  height: 1.75vh;
  width: 7px;
}

