<h2 mat-dialog-title>Add App</h2>
<mat-dialog-content>
  <div class="input-container">
    <mat-form-field>
      <input matInput placeholder="App name" [(ngModel)]="this.app.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Seconds" [(ngModel)]="this.app.seconds">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-button (click)="submitDialog()">Submit</button>
  </div>
</mat-dialog-actions>
