
nav{
  display: flex;
  position: fixed;
  width: 100%;
  height: 6vh;
  padding:10px;
  align-content: center;
  justify-content: space-evenly;
  background-color: #34495e;
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

.menu-button{
  position: relative;
  justify-content: center;
  align-items: center;
  margin:10px;
  max-height: 10vh;
  max-width: 7vh;
  cursor: pointer;
}

.mini-nav{
  display: none;
}

nav a{
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-evenly;
  z-index: 1;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  line-height: 50px;
}

a{
  text-decoration: none;
  color: black;
}

nav:hover{
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 1);
  transition-duration: 0.3s;
}

.hover-line::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width .34s;
}
.hover-line:hover::after{
  width: 100%;
  transition: width .34s;
}

.nav-container{
  display: flex;
  width: 100vh;
  justify-content: space-evenly;
  margin: auto;
}
