<div class="container">
  <div class="mainBox">
    <div class="mainBox__header">
      <h1 class="mainBox__title">Sign up</h1>
    </div>
    <div class="boxBody">
      <mat-form-field appearance="fill">
        <input [(ngModel)]="user.username" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Password" [(ngModel)]="user.password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="signUp()">Sign up</button>
      <p class="haveAcc">Have an account?</p>
      <button mat-raised-button class="button" color="accent" routerLink="/login-page">Log in</button>
    </div>
  </div>
</div>
