<div class="container">
  <div class="mainBox">
    <div class="mainBox__header">
      <h1 class="mainBox__title">Log in</h1>
    </div>
    <div class="boxBody">
      <mat-form-field appearance="fill">
        <input [(ngModel)]="username" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <p class="noAccount">Don't have an account?</p>
      <button mat-raised-button class="button" color="accent" routerLink="/sign-up-page">Register</button>
    </div>
  </div>
</div>
