
table {
  width: 50wv;
  flex-direction: column;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.addButton{
  display: flex;
  padding: 3vh;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: bold;
  margin: auto;
  border-radius: 50px;
}

.addButton p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  border-radius: 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #7bb3ae;
}

.header{
  min-width: 250px;
  width: 20vw;
  padding: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  justify-content: space-between;
  background-color: #2c3e50;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content{
  margin-top:12vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 65%;
  height: 100vh;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #34495e;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
