<mat-dialog-content>

  <mat-dialog-content>

    <div class="container">
      <div class="header">
        <h1>{{ endpoint.path }}</h1>
        <mat-divider/>
      </div>
      <div class="info">
        <div class="info-item">
          <h3>Method: {{ endpoint.method }}</h3>
        </div>

        <div class="info-item">
          <div [class]="getSimpleStatus()" class="status-container">
            <p> Status: {{ statusWord }}</p>
          </div>
        </div>

        <div class="info-item">
          <p> Duration: {{ endpoint.duration }}h</p>
        </div>
        <div class="status-info">
          <div class="percentage-container">
            <p>Percentage Up: {{ getPercentageUp() }}%</p>
          </div>
        </div>
      </div>
      <div class="bar-container">
      <app-history-bar [statusString]="endpoint.status"></app-history-bar>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Close</button>
  </mat-dialog-actions>
</mat-dialog-content>
