.container {
  justify-content: center;
  align-content: center;
  display: flex;
  padding: 1vh;
  flex-direction: column;
  margin:auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-item{
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.status-container p{
  margin: 0;
  padding: 5px;

}

.Ok {
  background-color: green;
}

.Unstable {
  background-color: yellow;
}

.Down {
  background-color: red;
}

.bar-container{
  background-color: #c0baba;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  padding: 0 1.5px;
  justify-content: left;
  align-items: center;
  margin: 10px;
}
